<div class="upload-page-container">
    <div class="upload-form-box">
        <header class="upload-form-header">
            <img src="assets/sonora-logo.png" alt="Sonora Logo" class="logo">
            <div class="profile-img-circle static">
                <p>img perfil</p>
            </div>
        </header>

        <form class="upload-form" [formGroup]="formularioSubida" (ngSubmit)="onSubmit()">
            <div class="form-fields">
                
                <div class="form-group file-upload-group">
                    <input type="file" id="file-upload" class="hidden-file-input" (change)="onFileSelected($event)" accept=".mp3,audio/*">
                    <label for="file-upload" class="custom-file-label text-input">{{ nombreArchivo }}</label>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="titulo" placeholder="Nombre el archivo" class="text-input">
                </div>

                <div class="form-group">
                    <select class="text-input" formControlName="categoria">
                        <option value="" disabled selected>Seleccione categoría</option>
                        <option value="naturaleza">Naturaleza</option>
                        <option value="instrumentos">Instrumentos</option>
                        <option value="gritos">Gritos</option>
                        <option value="musica">Música</option>
                        <option value="coches">Coches</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="autor" placeholder="Autor" class="text-input">
                </div>

                <div class="form-group">
                    <input type="text" formControlName="descripcion" placeholder="Descripción" class="text-input">
                </div>

                <div class="form-group">
                    <textarea rows="3" formControlName="notas" class="text-input" placeholder="Notas adicionales..."></textarea>
                </div>
            </div>

            <div class="upload-status-area" *ngIf="subiendo">
                <div class="upload-icon">⬆️</div>
                <div class="progress-bar-container">
                    <div class="progress-bar" [style.width.%]="porcentaje"></div>
                </div>
                <p class="progress-percentage">{{ porcentaje }}%</p>
            </div>

            <button type="submit" class="btn-confirmar" [disabled]="formularioSubida.invalid || !archivoSeleccionado">
                confirmar
            </button>
        </form>
    </div>

    <footer class="footer">
        <div class="dev-info">
             </div>
        <div class="footer-links">
        </div>
    </footer>
</div>