// src/styles/_mixins.scss
@use 'variables' as *;

// Mixin para facilitar los media queries
@mixin responder-a($breakpoint) {
    @if $breakpoint ==sm {
        @media (min-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (min-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }
}

// Mixin para centrar elementos con Flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}