<div class="auth-page-container register-page">
    <div class="header-logo-only">
        <img src="assets/sonora-logo.png" alt="Sonora Logo" class="logo">
    </div>
    
    <div class="auth-form-box">
        <div class="profile-img-circle static">
            <p>img perfil</p>
        </div>

        <form class="register-form" [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Introduzca el nombre" class="text-input">
                <small *ngIf="formularioRegistro.get('nombre')?.invalid && formularioRegistro.get('nombre')?.touched" style="color: red; font-size: 0.8em;">
                    Nombre obligatorio
                </small>
            </div>

            <div class="form-group">
                <input type="text" formControlName="apellidos" placeholder="Introduzcan los apellidos" class="text-input">
            </div>

            <div class="form-group">
                <input type="email" formControlName="email" placeholder="Correo electronico" class="text-input">
                <small *ngIf="formularioRegistro.get('email')?.invalid && formularioRegistro.get('email')?.touched" style="color: red; font-size: 0.8em;">
                    Email inválido
                </small>
            </div>

            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Contraseña" class="text-input">
            </div>

            <div class="form-group password-hint">
                <p>La contraseña debe tener al menos 6 caracteres.</p>
            </div>

            <div class="form-group">
                <input type="password" formControlName="confirmPassword" placeholder="Repita contraseña" class="text-input">
            </div>

            <div class="form-group country-input">
                <input type="text" formControlName="pais" placeholder="País" class="text-input short-input">
            </div>

            <div class="form-group empty-input">
                <input type="text" formControlName="ciudad" placeholder="Ciudad" class="text-input">
            </div>

            <button type="submit" class="btn-confirmar" [disabled]="formularioRegistro.invalid">confirmar</button>
        
            <p style="text-align: center; margin-top: 10px; font-size: 0.9em;">
                <a routerLink="/login" style="color: white;">Volver al Login</a>
            </p>

        </form>
    </div>

</div>